@inherits LayoutComponentBase

<div class="page">
    
    <main>
        
        <div class="top-row px-4">
            <h1 class="card-title">体育理论查询</h1>
            <a href="https://github.com/57UU/AnswerForPE_Web" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
